.ourForm {
	margin: auto;
	margin-top: 20px;
	width: 600px;
  background-color: rgba(255,255,255,0.2);
	padding: 40px;
	/*border-radius: 20px;*/
}



.ourForm label {
	display: block;
	padding: 7px;
}


.ourForm label>span {
	font-size: 11px;
	display: block;
	line-height:17px;
}

.ourForm label>span#heading {
	font-family: "Lucida Console", Monaco, monospace;
	font-size: 16px;
	font-weight: bold;
}

.i {
	width: 100%;
	font-size: 11px;
	font-family: "Lucida Console", Monaco, monospace;
}

.i#desc {
	height: 300px;
}




